{% extends "labour/basepage.html" %}
{% load staticfiles %}


{% block title %}
<title>About</title>
{% endblock %}


{% block body %}


                                <!-- Start title image -->
<div class="container-fluid mt-0 p-0">
    <div class=" container-fluid titleimg text-center m-0 pb-5 pt-5">
        <h1 class="text-white pt-4">Welcome to EmployeeAll</h1>
        <p class="text-white text-center pt-4">Our duty is to encourage every one in his struggle to
            live up to his own highest idea, and strive at the same time to make the
            ideal as near as possible to the Truth</p>
        <a class="btn btn-outline-light mt-3  font-weight-bold">Get Started</a>
        <a class="btn btn-outline-light mt-3  font-weight-bold">log In</a>

    </div>
</div>                                     <!-- End tittle image -->


<!-- Start Body of text -->

<div class="container-fluid m-0 p-0">
    <div class="row m-0 p-0">
        <div class="col-md-9 bg-white m-0 p-3   ">
            <h4 class="text-center">EmployeAll.com</h4><br>
            <h5>Welcome to EmployAll<br><br>EmployAll is one of the best plateform for getting work for daily besis.<br>
                We're dedicated to giving you the very best work according to the experience in the particular field with proper payment secuarity and verification system,
                with a focus on three characteristicsie: proper work,full Support and proper verification.<br><br>
                Founded in 2019 by Shivam Singh Rajpoot,
                EmployAll.com has come a long way from its beginnings in a jabalpur Madhya Pradesh (India)
                When Shivam Singh first started out, his passion for helping other people,
                providing the best solution for getting work drove him to this action i.e.
                to launch a website that can help the people for getting work , and gave him the impetus to turn
                hard work and inspiration into to a booming online store. <br><br>
                We hope you enjoy our products as much as we enjoy offering them to you.
                If you have any questions or comments, please don't hesitate to contact us.<br><br><br><br>

                Sincerely<br><br>
                Shivam Singh <br>
                Founder:EmployAll.com
            </h5>
        </div>
        <div class="col-md-3 p-3 m-0 bg-white  ">
            <h3 class="display-4"></h3>
        </div>
    </div>
</div>               <!-- End Body of Text-->


<!-- Start Team Discription -->


<div class="container-fluid ">
    <hr class="w-50">
    <div class="text-center">
        <h1 class="display-1 font-weight-bold">Our Team</h1>
    </div>
    <hr class="w-50">
</div>

<div class="container-fluid ">

    <div class="row">
        <div class="col-md-4 col-sm-4 col-12 ">
            <div class="card col-md-11 mt-2">
                <div class="card-body text-center">
                    <img class="img-fluid rounded-circle" src="{% static 'img/shiva.jpeg'%}" alt="profile picture">
                    <h3 class="card-tittle">Er. Shivam Singh <br>(Web Developer)</h3>
                    <p class="card-text">B.E ,Electronics and communication Engineering</p>
                    <a class="card-link btn btn-danger" data-toggle="collapse" data-target="#shivaprofile">See
                        Profile</a>
                </div>
            </div>
        </div>
		
		

        <div class="col-md-4 col-sm-4 col-12 ">
            <div class="card col-md-11 mt-2">
                <div class="card-body text-center">
                    <img class="img-fluid rounded-circle" src="{% static 'img/sandeep.jpg'%}" alt="profile picture">
                    <h3 class="card-tittle">Er. Sandeep Mishra <br>(Management Expert)</h3>
                    <p class="card-text">B.E ,Electronics and communication Engineering</p>
                    <a class="card-link btn btn-danger" data-toggle="collapse" data-target="#sandeepprofile">See
                        Profile</a>
                </div>
            </div>
        </div>

        <div class="col-md-4 col-sm-4 col-12 ">
            <div class="card col-md-11 mt-2">
                <div class="card-body text-center">
                    <img class="img-fluid rounded-circle" src="{% static 'img/ayushj.jpg'%}" alt="profile picture">
                    <h3 class="card-tittle">Er. Ayush Jaiswal <br>(Hardware Expert)</h3>
                    <p class="card-text">B.E ,Electronics and communication Engineering</p>
                    <a class="card-link btn btn-danger" data-toggle="collapse" data-target="#ayushprofile">See
                        Profile</a>
                </div>
            </div>
        </div>


        <div class="col-md-4 col-sm-4 col-12 ">
            <div class="card col-md-11 mt-2">
                <div class="card-body text-center">
                    <img class="img-fluid rounded-circle" src="{% static 'img/rachna.jpeg'%}" alt="profile picture">
                    <h3 class="card-tittle">Er. Rachna Sahu</h3>
                    <p class="card-text">B.E ,Electronics and communication Engineering</p>
                    <a class="card-link btn btn-danger" data-toggle="collapse" data-target="#rachnaprofile">See
                        Profile</a>
                </div>
            </div>
        </div>
		
		<div class="col-md-4 col-sm-4 col-12 ">
            <div class="card col-md-11 mt-2">
                <div class="card-body text-center">
                    <img class="img-fluid rounded-circle" src="{% static 'img/adityar.jpeg'%}" alt="profile picture">
                    <h3 class="card-tittle">Er. Aditya Rajpoot</h3>
                    <p class="card-text">B.E ,Electronics and communication Engineering</p>
                    <a class="card-link btn btn-danger" data-toggle="collapse" data-target="#adityaprofile">See
                        Profile</a>
                </div>
            </div>
        </div>
		
		<div class="col-md-4 col-sm-4 col-12 ">
            <div class="card col-md-11 mt-2">
                <div class="card-body text-center">
                    <img class="img-fluid rounded-circle" src="{% static 'img/name.jpg'%}" alt="profile picture">
                    <h3 class="card-tittle">Other</h3>
                    <p class="card-text">B.E ,Electronics and communication Engineering</p>
                    <a class="card-link btn btn-danger" data-toggle="collapse" data-target="#otherprofile">See
                        Profile</a>
                </div>
            </div>
        </div>


    </div>
</div>
<!-- End Team Discription -->


<!-- Start Team Resume Profile -->

<div class="container-fluid mt-3">

    <div class=" card collapse p-4 " id="shivaprofile">
        <h3 class="text-center"> Shivam Singh</h3>
        <h4 class="text-center"><a href="https://www.youtube.com/channel/UC6_bRHbRO50RfbN6iCV6VRw" target="blank"><i
                class="fa fa-youtube text-dark "></i> You Tube</a></h4>
        <h3 class="text-center">“Peace be Amplified ,World be Rectified”</h3>
        <p class="">I am Shivam Singh .Currently I am pursuing B.E in the field of "Electronics and Communication Engineering".
<br><br>I am a self confident, self motivated person and I take my decision own .When I was in school I saw lots of Automated machineries and  I was curious to know about these things like how they manufactured and how they works  so I choose the branch "Electronics and Communication Engineering" to enhance my knowledge in this field.
<br><br> I have some good habits that I am Time Punctual ,I can leave my comfort Zone to achieve the target and I motivate myself and others in adverse situation because of these habits I can sustain anywhere in the world.
<br><br>Being an electronics engineer, I always  focus on my target and make problem solving strategy .I have transforming ability i.e. I change myself according to the situation and good team work skills .
<br><br>I always curious to know about latest technology and I am detailed oriented with good logical thinking.
<br><br>I posses some life skills like interpersonal relationship ,problem solving skills, decision making skills that give me the opportunities to provide optimum solution of the problem and make the right decision in the adverse situation and these are the basic requirement of any company .
<br><br>I have good presentation skills that give me the opportunity to present my product in front of people and make my own identity.
</p>
    </div>
</div>

<div class="container-fluid mt-3">

    <div class=" card collapse p-4 " id="sandeepprofile">
        <h3 class="text-center"> Sandeep Mishra</h3>
        <p class="lead font-weight-bold">W3Schools is optimized for learning, testing, and training. Examples might be
            simplified to improve reading
            and basic understanding. Tutorials, references, and examples are constantly reviewed to avoid errors,
            but we cannot warrant full correctness of all content. While using this site, you agree to have read and
            accepted our terms of use, cookie and privacy policy. Copyright 1999-2019 by Refsnes Data. All Rights
            Reserved.</p>
    </div>
</div>

<div class="container-fluid mt-3">

    <div class=" card collapse p-4 " id="ayushprofile">
        <h3 class="text-center"> Ayush Jaiswal</h3>
        <p class="lead font-weight-bold">W3Schools is optimized for learning, testing, and training. Examples might be
            simplified to improve reading
            and basic understanding. Tutorials, references, and examples are constantly reviewed to avoid errors,
            but we cannot warrant full correctness of all content. While using this site, you agree to have read and
            accepted our terms of use, cookie and privacy policy. Copyright 1999-2019 by Refsnes Data. All Rights
            Reserved.</p>
    </div>
</div>

<div class="container-fluid mt-3 ">

    <div class=" card collapse p-4 " id="rachnaprofile">
        <h3 class="text-center">Rachna Sahu</h3>
        <p class="lead font-weight-bold">W3Schools is optimized for learning, testing, and training. Examples might be
            simplified to improve reading
            and basic understanding. Tutorials, references, and examples are constantly reviewed to avoid errors,
            but we cannot warrant full correctness of all content. While using this site, you agree to have read and
            accepted our terms of use, cookie and privacy policy. Copyright 1999-2019 by Refsnes Data. All Rights
            Reserved.</p>
    </div>
</div>


<div class="container-fluid mt-3 ">

    <div class=" card collapse p-4 " id="adityaprofile">
        <h3 class="text-center">Aditya Singh Rajpoot</h3>
        <p class="lead font-weight-bold">W3Schools is optimized for learning, testing, and training. Examples might be
            simplified to improve reading
            and basic understanding. Tutorials, references, and examples are constantly reviewed to avoid errors,
            but we cannot warrant full correctness of all content. While using this site, you agree to have read and
            accepted our terms of use, cookie and privacy policy. Copyright 1999-2019 by Refsnes Data. All Rights
            Reserved.</p>
    </div>
</div>


<div class="container-fluid mt-3 ">

    <div class=" card collapse p-4 " id="otherprofile">
        <h3 class="text-center">Others</h3>
        <p class="lead font-weight-bold">W3Schools is optimized for learning, testing, and training. Examples might be
            simplified to improve reading
            and basic understanding. Tutorials, references, and examples are constantly reviewed to avoid errors,
            but we cannot warrant full correctness of all content. While using this site, you agree to have read and
            accepted our terms of use, cookie and privacy policy. Copyright 1999-2019 by Refsnes Data. All Rights
            Reserved.</p>
    </div>
</div>

<!-- End Team Resume Profile -->

{% endblock %}
